*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 80px;
    color: #004888;
}

.container{
    margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  background-color: orangered;
  border-radius: 50px;
  border: 5px solid #004888;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px 40px;
  margin: 10px;
}

.card img{
  width: 180px;
  height: 300px;
  max-height: 300px;
  aspect-ratio: 1;
  border-radius: 20px;
  margin: 10px;
  margin-right: 40px;
  justify-self: center;
}

.card .card-content h3{
    color: #004888;
    font-size: 40px;
}

.card .card-content p{
    color: #004888;
    font-size: 30px;
}
