*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 80px;
    color: #043c6e;
}

.container{
    margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  background-color: #a6cccc;
  border-radius: 50px;
  border: 5px solid #60a85f;
  display: flex;
  flex-direction: row;
  padding: 20px 40px 40px 40px;
  margin: 10px;
  color: #60a85f;
}

.card img{
  width: 300px;
  height: 300px;
  max-height: 300px;
  aspect-ratio: 1;
  border-radius: 20px;
  margin: 10px;
  margin-right: 40px;
}

.card .card-body{
  display: block;
  color: #60a85f;
}
.card .card-body h2{
    font-size: 40px;
}

.card .card-body h3{
    font-size: 30px;
}
