*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  background-color: orangered;
  border-radius: 50px;
  border: 5px solid #004888;
  display: flex;
  flex-direction: row;
  padding: 20px 40px 40px 40px;
  margin: 10px;
  width: 80%;
}

.card img{
  width: 20%;
  height: 100%;
  max-height: 300px;
  aspect-ratio: 1;
  border-radius: 20px;
  margin: 10px;
  margin-right: 40px;
  justify-self: center;
}

.card .card-content h2{
    color: #004888;
    font-size: 40px;
}

.card .card-content p{
    color: #004888;
    font-size: 20px;
}
