.container{
    display: flex;
    margin: 0%;
    padding: 0%;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: rgb(146, 146, 146);
    padding: 20px;
}

.navbar button img{
    cursor: pointer;
}

.navbar button{
    border: none;
    background-color: rgb(146, 146, 146);
    width: 90px;
    border-radius: 20px;
    justify-content: center;
    margin: 10px;
}